.race,
.dh {
  object-fit: cover;
  width: 100%;
  z-index: 1;
  height: 900px;
}
.dh {
  transform: scaleX(-1);
}


.dh:hover,
.race:hover {
  animation: own 1s forwards;
}

@keyframes own {
  100% {
    opacity: 0.7;
  }
}
